/*css清零*/
html, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd, input
{
    margin  : 0;
    padding : 0;
}

body
{
    font-size        : 100%;
    background-color : antiquewhite;
    font-family : "Helvetica Neue", Helvetica, Arial,"黑体","宋体", sans-serif;
    -webkit-user-select:   none;
    -moz-user-select: none;
}

html, body
{
    height : 100%;
    width  : 100%;
}

img
{
    border : none;
}

li
{
    list-style : none;
}

input, select, textarea
{
    outline    : none;
    border     : none;
    background : none;
}

a
{
    text-decoration : none;
    color           : #656565;
}

/*清浮动*/
.clearfix:after
{
    content : "";
    display : block;
    clear   : both;
}

.clearfix
{
    zoom : 1;
}

.floatLeft
{
    float : left;
}

.floatRight
{
    float : right;
}